*{ 
    background-color:whitesmoke;
}

td.primera{ 
font-family: sans-serif;
width: 40%;
padding-right: 5px;
padding-left: 20%;
}

td.segunda{ 
    font-family: sans-serif;

    padding-right: 20%;
    width: 60%;
}